<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title> 캘린더 </title>

<!--stylesheet-->
<link href='/stylesheets/fullcalendar.css' rel='stylesheet' type='text/css'>
<link href='/stylesheets/fullcalendar.print.css' rel='stylesheet' media='print' type='text/css'>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

<!-- script -->
<!-- jquery-1.10.2파일 밑에는 항상 moment.min.js파일이 있어야 오류가 나지 않음 -->
<!-- 이렇게 하지 않을 경우 fullcalendar가 함수가 아니라는 오류가 뜸 -->
<script src='/vendor/jquery-1.10.2.min.js'></script>
<script src='/vendor/moment.min.js'></script>
<script src='/vendor/moment-timezone.js'></script>
<script src='/vendor/jquery-ui-1.10.2.custom.min.js'></script>
<script src='/vendor/fullcalendar.js'></script>
<script src='js/calendar.js'></script>

</head>
<body>

	<!--FullCalendar container div-->
	<div id='calendar'></div>
	
</body>
</html>
