<!DOCTYPE html>
	<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>한다라트</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700" rel="stylesheet">

		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="/css/vendor/animate.css">
		<link rel="stylesheet" href="/css/vendor/icomoon.css">
		<link rel="stylesheet" href="/css/vendor/bootstrap.css">
		<link rel="stylesheet" href="/css/vendor/flexslider.css">
		<link rel="stylesheet" href="/css/vendor/owl.carousel.min.css">
		<link rel="stylesheet" href="/css/vendor/owl.theme.default.min.css">
		<link rel="stylesheet" href="/css/style.css">

		<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="/js/vendor/jquery.min.js"></script>
		<script src="/js/vendor/jquery.easing.1.3.js"></script>
		<script src="/js/vendor/bootstrap.min.js"></script>
		<script src="/js/vendor/jquery.waypoints.min.js"></script>
		<script src="/js/vendor/owl.carousel.min.js"></script>
		<script src="/js/vendor/jquery.flexslider-min.js"></script>
		<script src="/js/index.js"></script>
	</head>

	<body>
	<div id="fh5co-page">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="header-inner">
				<h1><a href="/">한다라트</a></h1>
				<nav role="navigation">
					<ul>
						<li><a href="/bucket">버킷리스트</a></li>
						<li><a href="/mandal">만다라트</a></li>
						<li><a href="/calendar">달력</a></li>
						<li class="cta"><a href="/profile">마이페이지</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<div class="container">

	</div>

	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
			<!--백그라운드 이미지만 슬라이드쇼로 바뀌게-->
		   	<li style="background-image: url(images/slide_2.jpg);">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
						<!--회원가입 폼 // ㅈㅅ 잘해보셈
						https://codepen.io/THEORLAN2/pen/mPLPwj -->
						<div class="cont_principal">

						<div class="cont_centrar">
						<div class="cont_login">
							<form action="">
							<div class="cont_tabs_login">
							<ul class='ul_tabs'>
								<li class="active"><a href="#" onclick="sign_in()">로그인</a>
								<span class="linea_bajo_nom"></span>
								</li>
								<li><a href="#up" onclick="sign_up()">회원가입</a><span class="linea_bajo_nom"></span>
								</li>
							</ul>
							</div>
						<div class="cont_text_inputs">
							<input type="text" class="input_form_sign " placeholder="이메일/비밀번호 분실시 사용됩니다." name="id_us" />
							
							<input type="text" class="input_form_sign d_block active_inp" placeholder="아이디" name="emauil_us" />

							<input type="password" class="input_form_sign d_block  active_inp" placeholder="비밀번호" name="pass_us" />  
						<input type="password" class="input_form_sign" placeholder="비밀번호 확인" name="conf_pass_us" />
							
							<input type="text" class="input_form_sign " placeholder="닉네임" name="nick_us" />
							
							<a href="#" class="link_forgot_pass d_block" >비밀번호를 잊으셨나요?</a>   
							</div>
						<div class="cont_btn">
							<button class="btn_sign">로그인</button>
							
							</div>
							
							</form>
							</div>
						</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(images/slide_3.jpg);">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>We Think Different That Others Can't</h2>
		   					<p><a href="#" class="btn btn-primary btn-lg">Get started</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
	<div id="fh5co-services-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>주요기능</h2>
					<p>버킷리스트로 장기목표를 세우고 만다라트로 추상적인 목표를 구체화, 체계화, 시각화합니다. 이것들을 달력과 연동하여 일정을 관리합니다.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-laptop"></i>
						<div class="desc">
							<h3>버킷리스트</h3>
							<p>죽기 전에 이루고 싶은 목표</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-server"></i>
						<div class="desc">
							<h3>만다라트</h3>
							<p>단계별 목표를 통한 세분화</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-money"></i>
						<div class="desc">
							<h3>달력</h3>
							<p>월, 주, 일 단위로 하루를 계획</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fh5co-cta" style="background-image: url(images/slide_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center animate-box">
				<h3>We Try To Update The Site Everyday</h3>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
	
		<div class="container">
			<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>About Us</h3>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow btn-sm">Join Us <i class="icon-arrow-right"></i></a></p>
			</div>
			<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Our Services</h3>
				<ul class="float">
					<li><a href="#">Web Design</a></li>
					<li><a href="#">Branding &amp; Identity</a></li>
					<li><a href="#">Free HTML5</a></li>
					<li><a href="#">HandCrafted Templates</a></li>
				</ul>
				<ul class="float">
					<li><a href="#">Free Bootstrap Template</a></li>
					<li><a href="#">Free HTML5 Template</a></li>
					<li><a href="#">Free HTML5 &amp; CSS3 Template</a></li>
					<li><a href="#">HandCrafted Templates</a></li>
				</ul>

			</div>

			<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Follow Us</h3>
				<ul class="fh5co-social">
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-google-plus"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
				</ul>
			</div>
			
			
			<div class="col-md-12 fh5co-copyright text-center">
				<p>&copy; 2016 Free HTML5 template. All Rights Reserved. <span>Designed with <i class="icon-heart"></i> by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images by <a href="http://unsplash.com/" target="_blank">Unsplash</a></span></p>	
			</div>
			
		</div>
	</footer>
	</div>


	<script src="js/vendor/jquery.min.js"></script>
	<script src="js/vendor/jquery.easing.1.3.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/vendor/jquery.waypoints.min.js"></script>
	<script src="js/vendor/owl.carousel.min.js"></script>
	<script src="js/vendor/jquery.flexslider-min.js"></script>

	<script src="js/index.js"></script>
	</body>
</html>