<!DOCTYPE html>
	<html ng-app="app" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>한다라트 만다라트</title>

		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="/css/vendor/animate.css">
		<link rel="stylesheet" href="/css/vendor/icomoon.css">
		<link rel="stylesheet" href="/css/vendor/bootstrap.css">
		<link rel="stylesheet" href="/css/vendor/flexslider.css">
		<link rel="stylesheet" href="/css/vendor/owl.carousel.min.css">
		<link rel="stylesheet" href="/css/vendor/owl.theme.default.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/mandal.css">

		<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="/js/vendor/jquery.min.js"></script>
		<script src="/js/vendor/jquery.easing.1.3.js"></script>
		<script src="/js/vendor/bootstrap.min.js"></script>
		<script src="/js/vendor/jquery.waypoints.min.js"></script>
		<script src="/js/vendor/owl.carousel.min.js"></script>
		<script src="/js/vendor/jquery.flexslider-min.js"></script>
		<script src='/js/vendor/jquery-ui-1.10.2.custom.min.js'></script>	
		<script src='/js/vendor/angular.min.js'></script>	  
		<script src="/js/index.js"></script>			
	  	<script src="/js/mandal.js"></script>
	</head>

	<body ng-controller="Ctrl">
	<div id="fh5co-page">
		<header id="fh5co-header" role="banner">
			<div class="container">
				<div class="header-inner">
					<h1><a href="/">한다라트</a></h1>
					<nav role="navigation">
						<ul>
							<li><a href="/bucket">버킷리스트</a></li>
							<li><a href="/mandal">만다라트</a></li>
							<li><a href="/calendar">달력</a></li>
							<li class="cta"><a href="/profile">마이페이지</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<div class="mandal-container">
		<div class="mandal-view">
			<div class="view-search">
			</div>
			<div class="view-box">
				<div class="box-object">
					<div class="box-title">
						5.five
						{{contents[4].five}}
					</div>
					<div class="box-date">
						date
					</div>
					<div class="box-content">
						contentzxcontentzxcontentzxcontentzxcontentzxcontentzxcontentzxcontentzxcontentzx
						overflow-x test
					</div>
				</div>
				<div class="box-object">
					<div class="box-title">
						title
					</div>
					<div class="box-date">
						date
					</div>
					<div class="box-content">
						content
					</div>
				</div>
			</div>
		</div>	

        <div class="mandal-mandal">
			<div class="mandal-pallet">
			</div> 
			<div class="mandal-table">
				<h1 class="title">{{title}}</h1>
				<h2 class="description">{{description}}</h2>
				<table class="table table-bordered">
					<tbody>
						<tr ng-repeat="content in model.contents" ng-include="getTemplate(content)">
						</tr>
					</tbody>
				</table>
				
				<script type="text/ng-template" id="display">
					<td>{{content.one}}</td>
					<td>{{content.two}}</td>
					<td>{{content.three}}</td>
					<td>{{content.four}}</td>
					<td>{{content.five}}</td>
					<td>{{content.six}}</td>
					<td>{{content.seven}}</td>
					<td>{{content.eight}}</td>
					<td>{{content.nine}}</td>
					<td>
					<button ng-click="editContent(content)" class="btn btn-primary">수정</button>
					</td>
				</script>
				<script type="text/ng-template" id="edit">
					<td><input type="text" ng-model="model.selected.one"/></td>
					<td><input type="text" ng-model="model.selected.two"/></td>
					<td><input type="text" ng-model="model.selected.three"/></td>
					<td><input type="text" ng-model="model.selected.four"/></td>
					<td><input type="text" ng-model="model.selected.five"/></td>
					<td><input type="text" ng-model="model.selected.six"/></td>
					<td><input type="text" ng-model="model.selected.seven"/></td>
					<td><input type="text" ng-model="model.selected.eight"/></td>
					<td><input type="text" ng-model="model.selected.nine"/></td>
					<td>
						<button ng-click="saveContent($index)" class="btn btn-success">완료</button>
						<button ng-click="reset()" class="btn btn-danger">취소</button>
					</td>
				</script>
			</div>
		</div>
		</div>
	</div>
	</body>
</html> 	
