<!DOCTYPE html>
	<html ng-app="app" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>한다라트 만다라트</title>

		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="/css/vendor/animate.css">
		<link rel="stylesheet" href="/css/vendor/icomoon.css">
		<link rel="stylesheet" href="/css/vendor/bootstrap.css">
		<link rel="stylesheet" href="/css/vendor/flexslider.css">
		<link rel="stylesheet" href="/css/vendor/owl.carousel.min.css">
		<link rel="stylesheet" href="/css/vendor/owl.theme.default.min.css">
		<link rel="stylesheet" href="/css/vendor/xeditable.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/mandal.css">

		<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="/js/vendor/jquery.min.js"></script>
		<script src="/js/vendor/jquery.easing.1.3.js"></script>
		<script src="/js/vendor/bootstrap.min.js"></script>
		<script src="/js/vendor/jquery.waypoints.min.js"></script>
		<script src="/js/vendor/owl.carousel.min.js"></script>
		<script src="/js/vendor/jquery.flexslider-min.js"></script>
		<script src='/js/vendor/jquery-ui-1.10.2.custom.min.js'></script>	
		<script src='/js/vendor/angular.min.js'></script>	  
		<script src='/js/vendor/xeditable.min.js'></script>	  
		<script src="/js/index.js"></script>			
	  	<script src="/js/mandal.js"></script>
	</head>

	<body ng-controller="Ctrl">
	<div id="fh5co-page">
		<header id="fh5co-header" role="banner">
			<div class="container">
				<div class="header-inner">
					<h1><a href="/">한다라트</a></h1>
					<nav role="navigation">
						<ul>
							<li><a href="/bucket">버킷리스트</a></li>
							<li><a href="/mandal">만다라트</a></li>
							<li><a href="/calendar">달력</a></li>
							<li class="cta"><a href="/profile">마이페이지</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<div class="mandal-container">
		<div class="mandal-view">
			<div class="view-search">
				<input st-search="" class="form-control" placeholder="만다라트 검색" type="text"/>
				<button type="button" class="glyphicon glyphicon-plus"></button>
			</div>
			<div class="view-box">
				<div class="box-object">
					<div class="box-title">
						{{ user.title || contents[4].mandal_col5 }}
					</div>
					<div class="box-date">
						{{ user.desc }}
					</div>
					<div class="box-content">
						화이팅 아자!! 8월까지 꼭 하자ㅜㅜ
					</div>
				</div>
			</div>
		</div>	

        <div class="mandal-mandal">
			<div class="color-picker"></div>
			<div class="mandal-table">
				<h1 class="title" href="#" editable-text="user.title" ng-model="user.title">{{ user.title || '만다라트 이름' }}</h1>
				<h2 class="description" href="#" editable-textarea="user.desc" e-rows="2" e-cols="50" ng-model="user.desc">
					<pre>{{ user.desc || '해당 만다라트의 세부내용을 입력해주세요.' }}</pre></h2>			
				<div class="mandal-mandal-detail-edit"></div>
				<table class="table table-bordered">
					<tbody>
						<tr ng-repeat="row in contents">
						<td><a href="#" editable-text="row.mandal_col1" data-e-style="width:90px; height:28px;" class="xeditable_text">{{ row.mandal_col1 || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.mandal_col2" data-e-style="width:90px; height:28px;" class="xeditable_text">{{ row.mandal_col2 || '쓰기' }}</a></td>
						<td style="border-right: 5px solid black;"><a href="#" editable-text="row.mandal_col3" data-e-style="width:90px; height:28px;" class="xeditable_text">{{ row.mandal_col3 || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.mandal_col4" data-e-style="width:90px; height:28px;" class="xeditable_text">{{ row.mandal_col4 || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.mandal_col5" data-e-style="width:90px; height:28px;" class="xeditable_text">{{ row.mandal_col5 || '쓰기' }}</a></td>
						<td style="border-right: 5px solid black;"><a href="#" editable-text="row.mandal_col6" data-e-style="width:90px; height:28px;" class="xeditable_text">{{ row.mandal_col6 || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.mandal_col7" data-e-style="width:90px; height:28px;" class="xeditable_text">{{ row.mandal_col7 || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.mandal_col8" data-e-style="width:90px; height:28px;" class="xeditable_text">{{ row.mandal_col8 || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.mandal_col9" data-e-style="width:90px; height:28px;" class="xeditable_text">{{ row.mandal_col9 || '쓰기' }}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>
	</div>
	</body>
</html> 	