<!DOCTYPE html>
	<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>한다라트&mdash;</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700" rel="stylesheet">

		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="/css/vendor/animate.css">
		<link rel="stylesheet" href="/css/vendor/icomoon.css">
		<link rel="stylesheet" href="/css/vendor/bootstrap.css">
		<link rel="stylesheet" href="/css/vendor/flexslider.css">
		<link rel="stylesheet" href="/css/vendor/owl.carousel.min.css">
		<link rel="stylesheet" href="/css/vendor/owl.theme.default.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/mandal.css">

		<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="/js/vendor/jquery.min.js"></script>
		<script src="/js/vendor/jquery.easing.1.3.js"></script>
		<script src="/js/vendor/bootstrap.min.js"></script>
		<script src="/js/vendor/jquery.waypoints.min.js"></script>
		<script src="/js/vendor/owl.carousel.min.js"></script>
		<script src="/js/vendor/jquery.flexslider-min.js"></script>
		<script src="/js/index.js"></script>

		<script src="/js/mandal.js"></script>			
	</head>

	<body>
	<div id="fh5co-page">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="header-inner">
				<h1><a href="/">한다라트</a></h1>
				<nav role="navigation">
					<ul>
						<li><a href="/bucket">버킷리스트</a></li>
						<li><a href="/mandal">만다라트</a></li>
						<li><a href="/calendar">달력</a></li>
						<li class="cta"><a href="/profile">마이페이지</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
		<div class="mandal-view-section">
			<div class="view-search">
			</div>
			<div class="view-box">
				<div class="box-object">
					<div class="box-title">
						title
					</div>
					<div class="box-date">
						date
					</div>
					<div class="box-content">
						contentzxcontentzxcontentzxcontentzxcontentzxcontentzxcontentzxcontentzxcontentzx
						overflow-x test
					</div>
				</div>
				<div class="box-object">
					<div class="box-title">
						title
					</div>
					<div class="box-date">
						date
					</div>
					<div class="box-content">
						content
					</div>
				</div>
			</div>
		</div>	

        <div class="mandal-container">
			<div class="mandal-pallet">
			</div>
			<div class="mandal-mandal">
				<h1 class="year">&mdash; 만다라트 이름 &mdash;</h1>
				<h2 class="description">아뵤</h2>		
			<ul>
				<li>
				<article tabindex="0">
					<div class="outline"></div>
					<div class="dismiss"></div>
					<h1>2차목표</h1>
					<table>
					<tr>
						<td><div class="third-goal">1</div></td>
						<td><div class="third-goal">2</div></td>
						<td><div class="third-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">4</div></td>
						<td><div class="second-goal">2차목표</div></td>
						<td><div class="third-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">7</div></td>
						<td><div class="third-goal">8</div></td>
						<td><div class="third-goal">9</div></td>
					</tr>
					</table>
				</article>
				</li>
				<li>
				<article tabindex="0">
					<div class="outline"></div>
					<div class="dismiss"></div>
					<h1>2차목표</h1>
					<table>
					<tr>
						<td><div class="third-goal">1</div></td>
						<td><div class="third-goal">2</div></td>
						<td><div class="third-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">4</div></td>
						<td><div class="second-goal">2차목표</div></td>
						<td><div class="third-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">7</div></td>
						<td><div class="third-goal">8</div></td>
						<td><div class="third-goal">9</div></td>
					</tr>
					</table>
				</article>
				</li>
				<li>
				<article tabindex="0">
					<div class="outline"></div>
					<div class="dismiss"></div>
					<h1>2차목표</h1>
					<table>
					<tr>
						<td><div class="third-goal">1</div></td>
						<td><div class="third-goal">2</div></td>
						<td><div class="third-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">4</div></td>
						<td><div class="second-goal">2차목표</div></td>
						<td><div class="third-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">7</div></td>
						<td><div class="third-goal">8</div></td>
						<td><div class="third-goal">9</div></td>
					</tr>
					</table>
				</article>
				</li>
				<li>
				<article tabindex="0">
					<div class="outline"></div>
					<div class="dismiss"></div>
					<h1>2차목표</h1>
					<table>
					<tr>
						<td><div class="third-goal">1</div></td>
						<td><div class="third-goal">2</div></td>
						<td><div class="third-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">4</div></td>
						<td><div class="second-goal">2차목표</div></td>
						<td><div class="third-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">7</div></td>
						<td><div class="third-goal">8</div></td>
						<td><div class="third-goal">9</div></td>
					</tr>
					</table>
				</article>
				</li>
				<li>
				<article tabindex="0">
					<div class="outline"></div>
					<div class="dismiss"></div>
					<h1>1차목표</h1>
					<table>
					<tr>
						<td><div class="third-goal">1</div></td>
						<td><div class="third-goal">2</div></td>
						<td><div class="third-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">4</div></td>
						<td><div class="second-goal">2차목표</div></td>
						<td><div class="third-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">7</div></td>
						<td><div class="third-goal">8</div></td>
						<td><div class="third-goal">9</div></td>
					</tr>

					<tr>
						<td><div class="third-goal">1</div></td>
						<td><div class="third-goal">2</div></td>
						<td><div class="third-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">4</div></td>
						<td><div class="second-goal">2차목표</div></td>
						<td><div class="third-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">7</div></td>
						<td><div class="third-goal">8</div></td>
						<td><div class="third-goal">9</div></td>
					</tr>

					<tr>
						<td><div class="third-goal">1</div></td>
						<td><div class="third-goal">2</div></td>
						<td><div class="third-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">4</div></td>
						<td><div class="second-goal">2차목표</div></td>
						<td><div class="third-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">7</div></td>
						<td><div class="third-goal">8</div></td>
						<td><div class="third-goal">9</div></td>
					</tr>

					<tr>
						<td><div class="third-goal">1</div></td>
						<td><div class="third-goal">2</div></td>
						<td><div class="third-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">4</div></td>
						<td><div class="second-goal">2차목표</div></td>
						<td><div class="third-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">7</div></td>
						<td><div class="third-goal">8</div></td>
						<td><div class="third-goal">9</div></td>
					</tr>

					<tr>
						<td><div class="second-goal">1</div></td>
						<td><div class="second-goal">2</div></td>
						<td><div class="second-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="second-goal">4</div></td>
						<td><div class="first-goal">2차목표</div></td>
						<td><div class="second-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="second-goal">7</div></td>
						<td><div class="second-goal">8</div></td>
						<td><div class="second-goal">9</div></td>
					</tr>

					<tr>
						<td><div class="third-goal">1</div></td>
						<td><div class="third-goal">2</div></td>
						<td><div class="third-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">4</div></td>
						<td><div class="second-goal">2차목표</div></td>
						<td><div class="third-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">7</div></td>
						<td><div class="third-goal">8</div></td>
						<td><div class="third-goal">9</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">1</div></td>
						<td><div class="third-goal">2</div></td>
						<td><div class="third-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">4</div></td>
						<td><div class="second-goal">2차목표</div></td>
						<td><div class="third-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">7</div></td>
						<td><div class="third-goal">8</div></td>
						<td><div class="third-goal">9</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">1</div></td>
						<td><div class="third-goal">2</div></td>
						<td><div class="third-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">4</div></td>
						<td><div class="second-goal">2차목표</div></td>
						<td><div class="third-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">7</div></td>
						<td><div class="third-goal">8</div></td>
						<td><div class="third-goal">9</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">1</div></td>
						<td><div class="third-goal">2</div></td>
						<td><div class="third-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">4</div></td>
						<td><div class="second-goal">2차목표</div></td>
						<td><div class="third-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">7</div></td>
						<td><div class="third-goal">8</div></td>
						<td><div class="third-goal">9</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">1</div></td>
						<td><div class="third-goal">2</div></td>
						<td><div class="third-goal">3</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">4</div></td>
						<td><div class="second-goal">2차목표</div></td>
						<td><div class="third-goal">6</div></td>
					</tr>
					<tr>
						<td><div class="third-goal">7</div></td>
						<td><div class="third-goal">8</div></td>
						<td><div class="third-goal">9</div></td>
					</tr>
					</table>
				</article>
				</li>

				<li>
      <article tabindex="0">
        <div class="outline"></div>
        <div class="dismiss"></div>
        <div class="binding"></div>
        <h1>January</h1>
        <table>
          <thead>
            <tr>
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
            </tr>
          </thead>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="is-holiday">
              <div class="day">1</div>
              <div class="holiday">New Year's Day</div>
            </td>
            <td><div class="day">2</div></td>
            <td><div class="day">3</div></td>
          </tr>
          <tr>
            <td><div class="day">4</div></td>
            <td><div class="day">5</div></td>
            <td><div class="day">6</div></td>
            <td><div class="day">7</div></td>
            <td><div class="day">8</div></td>
            <td><div class="day">9</div></td>
            <td><div class="day">10</div></td>
          </tr>
          <tr>
            <td><div class="day">11</div></td>
            <td><div class="day">12</div></td>
            <td><div class="day">13</div></td>
            <td><div class="day">14</div></td>
            <td><div class="day">15</div></td>
            <td><div class="day">16</div></td>
            <td><div class="day">17</div></td>
          </tr>
          <tr>
            <td><div class="day">18</div></td>
            <td class="is-holiday">
              <div class="day">19</div>
              <div class="holiday">MLK Day</div>
            </td>
            <td><div class="day">20</div></td>
            <td><div class="day">21</div></td>
            <td><div class="day">22</div></td>
            <td><div class="day">23</div></td>
            <td><div class="day">24</div></td>
          </tr>
          <tr>
            <td><div class="day">25</div></td>
            <td><div class="day">26</div></td>
            <td><div class="day">27</div></td>
            <td><div class="day">28</div></td>
            <td><div class="day">29</div></td>
            <td><div class="day">30</div></td>
            <td><div class="day">31</div></td>
          </tr>
        </table>
      </article>
    </li>								
			</div>
		</div>
	</div>
	</body>
</html>