<!DOCTYPE html>
	<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>한다라트 만다라트</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700" rel="stylesheet">

		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="/css/vendor/animate.css">
		<link rel="stylesheet" href="/css/vendor/icomoon.css">
		<link rel="stylesheet" href="/css/vendor/bootstrap.css">
		<link rel="stylesheet" href="/css/vendor/flexslider.css">
		<link rel="stylesheet" href="/css/vendor/owl.carousel.min.css">
		<link rel="stylesheet" href="/css/vendor/owl.theme.default.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/mandal.css">

		<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="/js/vendor/jquery.min.js"></script>
		<script src="/js/vendor/jquery.easing.1.3.js"></script>
		<script src="/js/vendor/bootstrap.min.js"></script>
		<script src="/js/vendor/jquery.waypoints.min.js"></script>
		<script src="/js/vendor/owl.carousel.min.js"></script>
		<script src="/js/vendor/jquery.flexslider-min.js"></script>
		<script src='/js/vendor/jquery-ui-1.10.2.custom.min.js'></script>	
		<script src="/js/index.js"></script>			
	</head>

	<body>
	<div id="fh5co-page">
		<header id="fh5co-header" role="banner">
			<div class="container">
				<div class="header-inner">
					<h1><a href="/">한다라트</a></h1>
					<nav role="navigation">
						<ul>
							<li><a href="/bucket">버킷리스트</a></li>
							<li><a href="/mandal">만다라트</a></li>
							<li><a href="/calendar">달력</a></li>
							<li class="cta"><a href="/profile">마이페이지</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
	
		<div class="mandal-view-section">
			<div class="view-search">
			</div>
			<div class="view-box">
				<div class="box-object">
					<div class="box-title">
						title
					</div>
					<div class="box-date">
						date
					</div>
					<div class="box-content">
						contentzxcontentzxcontentzxcontentzxcontentzxcontentzxcontentzxcontentzxcontentzx
						overflow-x test
					</div>
				</div>
				<div class="box-object">
					<div class="box-title">
						title
					</div>
					<div class="box-date">
						date
					</div>
					<div class="box-content">
						content
					</div>
				</div>
			</div>
		</div>	

        <div class="mandal-container">
			<div class="mandal-pallet">
			</div> 
			<div class="mandal-mandal">
				<h1 class="year">&mdash; 만다라트이름 &mdash;</h1>
				<h2 class="description">세부섦ㅇ</h2>
				<ul>
					<!--tr: 줄 구분, td: 칸 구분 / day: 회색, holiday: 청록색 -->
					<li>
					<article tabindex="0">
						<div class="outline"></div>
						<div class="dismiss"></div>
						<h1>2-1목표</h1>
						<table>
							<thead>
								<tr>
									<p>목표날짜: <input type="text" id="datepicker"></p>
									<p>달성현황: <input type="text" id="datepicker"></p>
								</tr>
							</thead>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						<tr>
							<td><div class="day">3-1</div></td>
							<td class="is-holiday">
							<div class="day">3-2</div>
							<div class="holiday">MLK Day</div>
							</td>
							<td><div class="day">20</div></td>
						</tr>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						</table>
					</article>
					</li>
					<li>
					<article tabindex="0">
						<div class="outline"></div>
						<div class="dismiss"></div>
						<h1>2-1목표</h1>
						<table>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						<tr>
							<td><div class="day">3-1</div></td>
							<td class="is-holiday">
							<div class="day">3-2</div>
							<div class="holiday">MLK Day</div>
							</td>
							<td><div class="day">20</div></td>
						</tr>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						</table>
					</article>
					</li>
					<li>
					<article tabindex="0">
						<div class="outline"></div>
						<div class="dismiss"></div>
						<h1>2-1목표</h1>
						<table>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						<tr>
							<td><div class="day">3-1</div></td>
							<td class="is-holiday">
							<div class="day">3-2</div>
							<div class="holiday">MLK Day</div>
							</td>
							<td><div class="day">20</div></td>
						</tr>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						</table>
					</article>
					</li>
				</ul>
				<ul>
					<!--tr: 줄 구분, td: 칸 구분 / day: 회색, holiday: 청록색 -->
					<li>
					<article tabindex="0">
						<div class="outline"></div>
						<div class="dismiss"></div>
						<h1>2-1목표</h1>
						<table>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						<tr>
							<td><div class="day">3-1</div></td>
							<td class="is-holiday">
							<div class="day">3-2</div>
							<div class="holiday">MLK Day</div>
							</td>
							<td><div class="day">20</div></td>
						</tr>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						</table>
					</article>
					</li>
					<li>
					<article tabindex="0">
						<div class="outline"></div>
						<div class="dismiss"></div>
						<h1>2-1목표</h1>
						<table>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						<tr>
							<td><div class="day">3-1</div></td>
							<td class="is-holiday">
							<div class="day">3-2</div>
							<div class="holiday">MLK Day</div>
							</td>
							<td><div class="day">20</div></td>
						</tr>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						</table>
					</article>
					</li>
					<li>
					<article tabindex="0">
						<div class="outline"></div>
						<div class="dismiss"></div>
						<h1>2-1목표</h1>
						<table>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						<tr>
							<td><div class="day">3-1</div></td>
							<td class="is-holiday">
							<div class="day">3-2</div>
							<div class="holiday">MLK Day</div>
							</td>
							<td><div class="day">20</div></td>
						</tr>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						</table>
					</article>
					</li>
				</ul>
				<ul>
					<!--tr: 줄 구분, td: 칸 구분 / day: 회색, holiday: 청록색 -->
					<li>
					<article tabindex="0">
						<div class="outline"></div>
						<div class="dismiss"></div>
						<h1>2-1목표</h1>
						<table>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						<tr>
							<td><div class="day">3-1</div></td>
							<td class="is-holiday">
							<div class="day">3-2</div>
							<div class="holiday">MLK Day</div>
							</td>
							<td><div class="day">20</div></td>
						</tr>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						</table>
					</article>
					</li>
					<li>
					<article tabindex="0">
						<div class="outline"></div>
						<div class="dismiss"></div>
						<h1>2-1목표</h1>
						<table>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						<tr>
							<td><div class="day">3-1</div></td>
							<td class="is-holiday">
							<div class="day">3-2</div>
							<div class="holiday">MLK Day</div>
							</td>
							<td><div class="day">20</div></td>
						</tr>
						<tr>
							<td><div class="day">25</div></td>
							<td><div class="day">26</div></td>
							<td><div class="day">27</div></td>
						</tr>
						</table>
					</article>
					</li>
					<li>
					<article tabindex="0">
						<div class="outline"></div>
						<div class="dismiss"></div>
						<h1>2-1목표</h1>
						<table>
						<tr>
							<td><div class="day"></div></td>
							<td><div class="day"></div></td>
							<td><div class="day"></div></td>
						</tr>
						<tr>
							<td><div class="day"></div></td>
							<td class="is-holiday">
							<div class="day"></div>
							<div class="holiday"></div>
							</td>
							<td><div class="day"></div></td>
						</tr>
						<tr>
							<td><div class="day"></div></td>
							<td><div class="day"></div></td>
							<td><div class="day"></div></td>
						</tr>
						</table>
					</article>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="/js/mandal.js"></script>
	</body>
</html> 	