<!DOCTYPE html>
	<html ng-app="app" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>한다라트 만다라트</title>

		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="/css/vendor/animate.css">
		<link rel="stylesheet" href="/css/vendor/icomoon.css">
		<link rel="stylesheet" href="/css/vendor/bootstrap.css">
		<link rel="stylesheet" href="/css/vendor/flexslider.css">
		<link rel="stylesheet" href="/css/vendor/owl.carousel.min.css">
		<link rel="stylesheet" href="/css/vendor/owl.theme.default.min.css">
		<link rel="stylesheet" href="/css/vendor/xeditable.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/mandal.css">

		<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="/js/vendor/jquery.min.js"></script>
		<script src="/js/vendor/jquery.easing.1.3.js"></script>
		<script src="/js/vendor/bootstrap.min.js"></script>
		<script src="/js/vendor/jquery.waypoints.min.js"></script>
		<script src="/js/vendor/owl.carousel.min.js"></script>
		<script src="/js/vendor/jquery.flexslider-min.js"></script>
		<script src='/js/vendor/jquery-ui-1.10.2.custom.min.js'></script>	
		<script src='/js/vendor/angular.min.js'></script>	  
		<script src='/js/vendor/xeditable.min.js'></script>	  
		<script src="/js/index.js"></script>			
	  	<script src="/js/mandal.js"></script>
	</head>

	<body ng-controller="Ctrl">
	<div id="fh5co-page">
		<header id="fh5co-header" role="banner">
			<div class="container">
				<div class="header-inner">
					<h1><a href="/">한다라트</a></h1>
					<nav role="navigation">
						<ul>
							<li><a href="/bucket">버킷리스트</a></li>
							<li><a href="/mandal">만다라트</a></li>
							<li><a href="/calendar">달력</a></li>
							<li class="cta"><a href="/profile">마이페이지</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<div class="mandal-container">
		<div class="mandal-view">
			<div class="view-search">
				<input st-search="" class="form-control" placeholder="만다라트 검색" type="text"/>
				<button type="button" class="glyphicon glyphicon-plus"></button>
			</div>
			<div class="view-box">
				<div class="box-object">
					<div class="box-title">
						5.five
					</div>
					<div class="box-date">
						date
					</div>
					<div class="box-content">
						contentzxcontentzxcontentzxcontentzxcontentzxcontentzxcontentzxcontentzxcontentzx
						overflow-x test
					</div>
				</div>
				<div class="box-object">
					<div class="box-title">
						title
					</div>
					<div class="box-date">
						date
					</div>
					<div class="box-content">
						content
					</div>
				</div>
			</div>
		</div>	

        <div class="mandal-mandal">
			<div class="mandal-pallet">
			</div> 
			<div class="mandal-table">
				<h1 class="title" href="#" editable-text="user.title">{{ user.title || '만다라트 이름' }}</h1>
				<h2 class="description" href="#" editable-textarea="user.desc" e-rows="7" e-cols="20">
					<pre>{{ user.desc || '만다라트 상세설명' }}</pre></h2>

				<table class="table table-bordered">
					<tbody>
						<tr ng-repeat="row in mandal">
						<td><a href="#" editable-text="row.one" data-e-style="width:90px; height:28px;">{{ row.one || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.two" data-e-style="width:90px; height:28px;">{{ row.two || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.three" data-e-style="width:90px; height:28px;">{{ row.three || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.four" data-e-style="width:90px; height:28px;">{{ row.four || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.five" data-e-style="width:90px; height:28px;">{{ row.five || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.six" data-e-style="width:90px; height:28px;">{{ row.six || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.seven" data-e-style="width:90px; height:28px;">{{ row.seven || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.eight" data-e-style="width:90px; height:28px;">{{ row.eight || '쓰기' }}</a></td>
						<td><a href="#" editable-text="row.nine" data-e-style="width:90px; height:28px;">{{ row.nine || '쓰기' }}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>
	</div>
	</body>
</html> 	
