svg {
	width: 600px;
  height: 600px;
	stroke: #737373;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.fc-content{
	min-width: 600px;
}
#graph path {
  fill: white;
  stroke: white;
}
#graph path.filling {
  fill: lightgrey;
}
#percentage {
  font-size: 3.5em;
}
.hour-hand{
	stroke-width:6;
	stroke-linecap:round;
	fill:#fff;
}
.minute-hand{
	stroke-width:3;
	stroke-linecap:round;
	fill:#fff;
}
.hands-cover{
	stroke-width:3;
	fill:#fff;
}
.hour-label{
	font-size: 24px;
}