*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.mandal-container {
  height: 100%;
  background-color: dodgerblue;
}

.mandal-view {
  position: fixed;
  float: left;
  height: auto;
  width: 250px;
}

.view-search {
  width: 100%;
  height: 30px;
  background-color: blueviolet;
}

.view-box {
  width: inherit;
  height: 78vh;
  padding-top: 20px;
  padding-left: 30px;
  word-break: keep-all;
  overflow-y: scroll;
}

.box-title {
  font-size: 2em;
}

.mandal-mandal {
  float: right;
  width: calc(100% - 250px);
  border: 1px solid red;
  font: 1em/1 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.color-picker {
  width: 100%;
  height: 30px;
  background-color: green;
}

.mandal-table {
  height: 78vh;
  margin: 0 20px 0 20px;
  border: 1px solid red;
}

.title {
  margin: 0 0 6px;
  color: #548383;
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
}

.description {
  margin: 0 0 20px;
  color: #acc2c2;
  text-align: center;
  font-size: 0.8em;
}

.btn {
  display: inline-block;
  height: 31px;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 15px;
}

div[ng-app] { margin: 50px; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.color-picker {
  width: 100%;
  background-color: white;
  padding: 40px 0;
}

.base-colors,
.varied-colors {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.color,
.color-var {
  float: left;
  border-radius: 50%;
  cursor: pointer;
}

.color {
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 25px;
  height: 25px;
  margin: 20px;
}
.color.active {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.color-var {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  width: 40px;
  height: 40px;
  margin: 10px;
}
.color-var.visible {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.color-var.active {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}