*,
*::before,
*::after { box-sizing: border-box; }

.mandal-view-section {
    float: left;
    height: auto;
    width: 330px;
}

.view-search {
    width: 100%;
    height: 50px;
    background-color: blueviolet;
}

.view-box {
    width: inherit;
    height: 78vh;
    padding-top: 20px;
    padding-left: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid red;    
}

.mandal-pallet {
  background-color: green;
  width: 100%;
  height: 50px;
}
/*
mandal-mandal
*/

.mandal-container {
    display: inline-block;
    width: calc(100% - 330px);
    border: 1px solid red;
}


.year {
  margin: 0 0 8px;
  color: #548383;
  text-align: center;
  font-size: 1.5em;
  padding-top: 1em;
}

.description {
  margin: 0 0 20px;
  color: #acc2c2;
  text-align: center;
  font-size: 0.8em;
}

.mandal-mandal ul {
  display: flex;
  flex-wrap: wrap;
  width: 740px;
  margin: -14px auto -14px;
  padding: 0;
  list-style: none;
}

.mandal-mandal li {
  position: relative;
  z-index: 1;
  width: 30%;
  height: 160px;
  transition: z-index;
  transition-delay: .4s;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  border-bottom: 8px solid #dfe7e7;
  background-color: #fff;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(.25);
  transition: transform .4s;
  border: 1px solid lightgrey;
}

.outline {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: -8px;
  left: 0;
  right: 0;
}

article:focus {
  outline: none;
}

article:focus .outline {
  outline: 4px solid #dab08c;
}

.dismiss {
  display: block;
  opacity: 0;
  position: absolute;
  top: -28px;
  right: -28px;
  width: 48px;
  height: 48px;
  border: 4px solid #fff;
  border-radius: 50%;
  color: #fff;
  background-color: #666;
  cursor: pointer;
  transition: opacity .4s;
}

.dismiss::before {
  content: '\f00d';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font: 1.7em/1 'FontAwesome';
  transform: translate(-50%, -50%);
}

article h1 {
  height: 52px;
  margin: 16px;
  text-align: center;
  font-size: 3.2em;
}

table {
  width: 592px;
  margin: 16px;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 4px;
}

th {
  position: relative;
  width: 80px;
  height: 32px;
  padding: 0 0 12px;
  text-align: center;
}

th::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 20px;
  background-color: #acc2c2;
  transition: opacity .4s;
}

td {
  position: relative;
  width: 80px;
  height: 64px;
  padding: 4px;
  vertical-align: top;
  background-color: #dfe7e7;
}

td:empty {
  background-color: transparent;
}

.is-holiday {
  color: #fff;
  background-color: #548383;
}

.second-goal {
  font-size: 1.1em;
  font-weight: bold;
}

.third-goal {
  opacity: 0;
  font-size: 1.1em;
  font-weight: bold;
  transition: opacity .4s;
}

.split {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.holiday {
  opacity: 0;
  margin-top: 8px;
  font-size: .8em;
  transition: opacity .4s;
}

.inactive {
  opacity: 0;  
  pointer-events: none;
}

/* Chrome/Safari/iOS fix: Bumping up the z-index from the start of
   the expand animation until the end of the shrink animation
   prevents unnecessary repaints on subsequent <article> elements. */
.active {
  z-index: 2;
  transition-delay: 0s;
}

.active article {
  cursor: auto;
  transform: translate(-50%, -50%) scale(1);
}

li:nth-child(4n+1).active article {
  transform: translate(calc(-50% + 220px), -50%) scale(1);
}
li:nth-child(4n+2).active article {
  transform: translate(calc(-50% + 36px), -50%) scale(1);
}
li:nth-child(4n+3).active article {
  transform: translate(calc(-50% - 36px), -50%) scale(1);
}
li:nth-child(4n+4).active article {
  transform: translate(calc(-50% - 220px), -50%) scale(1);
}

.active .dismiss,
.active .day,
.active .holiday {
  opacity: 1;
}

/* Chrome/Safari/iOS fix: The centered "Sun" text jumps to the right
   when the transition ends. Oddly enough, setting text-indent to 0%
   prevents this. */
.active th {
  text-indent: 0%;
}

.active th::after {
  opacity: 0;
}