.mandal-container {
  height: 100%;
  background-color: dodgerblue;
}

.mandal-view {
  position: fixed;
  float: left;
  height: auto;
  width: 250px;
}

.view-search {
  width: 100%;
  height: 30px;
  background-color: blueviolet;
}

.view-box {
  width: inherit;
  height: 78vh;
  padding-top: 20px;
  padding-left: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid red;
}

.mandal-mandal {
  float: right;
  width: calc(100% - 250px);
  border: 1px solid red;
  font: 1em/1 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.mandal-pallet {
  width: 100%;
  height: 30px;
  background-color: green;
}

.mandal-table {
  height: 78vh;
  margin: 0 20px 0 20px;
  border: 1px solid red;
}

.title {
  margin: 0 0 6px;
  color: #548383;
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
}

.description {
  margin: 0 0 20px;
  color: #acc2c2;
  text-align: center;
  font-size: 0.8em;
}

.btn {
  display: inline-block;
  height: 31px;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 15px;
}

div[ng-app] { margin: 50px; }
